@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    font-family: 'Work Sans', sans-serif;
}


/*##########Header##########*/

header {
    background: #2e2e2e;
    padding: 0 0 5vh 0;
}

.mobileMenu span {
    width: 40px;
    height: 2px;
    background: black;
    display: flex;
    flex-direction: column;
    margin: 2px 0 0 auto;
}

.mobileMenu span {
    padding: 2px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header nav img {
    margin: 0px 0 0 5vw;
    z-index: 1;
    position: fixed;
    top: 50px;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 50px 2vw 0 0;
    z-index: 1;
    position: fixed;
    right: 0;
}

header nav ul li {
    margin: 0px 40px 0 0;
    font-size: 1rem;
    color: #867772;
}

header nav ul li:last-child {
    display: none;
}


/*##########SECTION1##########*/

.section1 {
    padding: 10vh 0 0 0;
    margin: 0 0 0 0;
    display: flex;
    background: #2e2e2e;
}

.section1 h2 {
    position: absolute;
    z-index: 1;
    left: 30vw;
    top: 15vh;
    font-size: 2rem;
    color: #867772;
    font-weight: 300;
}

.section1 img {
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 22vh 0 0 0;
}

.beyond {
    padding: 5vh 0 10vh 30vw;
    color: #867772;
    font-size: 1.5rem;
}

aside {
    display: flex;
    flex-direction: column;
    margin: 10vh 0 10vh 2vw;
    padding-left: 3vw;
    position: absolute;
    position: fixed;
    z-index: 1;
}

aside a {
    padding: 0vh 0 9.3vh 0;
    color: white;
    text-decoration: none;
}

.divLine {
    height: 60px;
    width: 1px;
    background: #867772;
    position: absolute;
}

.section1 span {
    display: inline;
    width: 15px;
    height: 15px;
    background: #2e2e2e;
    border-radius: 15px;
    border: 1px solid #867772;
    outline-offset: 3px;
    position: absolute;
}

.divLine:nth-of-type(1) {
    left: 8px;
    top: 22px;
}

.divLine:nth-of-type(2) {
    left: 8px;
    top: 125px;
}

.divLine:nth-of-type(3) {
    left: 8px;
    top: 225px;
}

.divLine:nth-of-type(4) {
    left: 8px;
    top: 325px;
}

.section1 span:nth-of-type(1) {
    top: 0px;
    left: 0;
}

.section1 span:nth-of-type(2) {
    top: 105px;
    left: 0;
}

.section1 span:nth-of-type(3) {
    top: 205px;
    left: 0;
}

.section1 span:nth-of-type(4) {
    top: 305px;
    left: 0;
}

.section1 span:nth-of-type(5) {
    top: 410px;
    left: 0;
}

.span1 {
    outline: 1px solid white;
    outline-offset: 3px;
}

.span2 {
    outline: 1px solid white;
    outline-offset: 3px;
}

.span3 {
    outline: 1px solid white;
    outline-offset: 3px;
}

.span4 {
    outline: 1px solid white;
    outline-offset: 3px;
}

.span5 {
    outline: 1px solid white;
    outline-offset: 3px;
}


/*##########SECTION2##########*/

.section2 {
    background: #2e2e2e;
    display: flex;
    padding: 0 0 20vh 0;
}

.section2 img {
    width: 30%;
    margin: 10vh 0 0 15vw;
}

.section2 div {
    margin: 15vh 0 0 8vw;
}

.section2 h2 {
    color: #ebccc2;
    margin: 0 0 30px 0;
    font-size: 2rem;
    font-weight: 300;
}

.section2 p {
    width: 450px;
    color: #867772;
    line-height: 25px;
}


/*##########LoungerSite##########*/

.voyager {
    width: 55vw;
    object-fit: fill;
    height: 100vh;
    position: absolute;
    top: 0px;
}

.loungersection2 {
    background: #2e2e2e;
    width: 45vw;
    height: 85vh;
    margin-left: auto;
}

.loungersection2 h2 {
    padding: 5vh 0 100px 50px;
    color: #ebc2c2;
    font-weight: 400;
    font-size: 2rem;
}

.loungersection2 p {
    width: 500px;
    padding: 0 0 0vh 50px;
    color: #867772;
    line-height: 30px;
}

.loungerSpan2 {
    top: 0px;
    left: 0;
    outline: 1px solid white;
    outline-offset: 3px;
}


/*##########Inspiration##########*/

.inspiration {
    padding: 10vh 0 0 0;
    background: #2e2e2e;
}

.inspiration div:first-child {
    text-align: center;
}

.inspiration div:last-child {
    margin: 15vh 0 0 20vw;
}

.inspiration div:last-child>div {
    display: flex;
}

.inspiration div:last-child>div p {
    color: #867772;
    margin: 0 10px 10px 0;
    padding: 2px 7px;
    border: 1px solid white;
    font-size: 14px;
    font-weight: 200;
}

video {
    width: 60%;
}

.inspiration h3 {
    color: #ebccc2;
    font-weight: 400;
}

.inspiration h2 {
    color: #ebccc2;
    font-size: 2rem;
    font-weight: 400;
    margin: 20px 0 20px 0;
}

.inspiration p {
    color: #867772;
    padding-bottom: 10vh;
}


/*##########SECTION5##########*/

.section5 {
    display: flex;
    background: #2e2e2e;
}

.section5 img {
    width: 30%;
    margin-left: 20vw;
}

.section5 div {
    width: 500px;
    margin: 10vh 0 0 30px;
}

.section5 h3 {
    color: #ebccc2;
}

.section5 h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 20px 0;
    color: #ebccc2;
}

.section5 p {
    color: #867772;
    width: 400px;
    line-height: 30px;
}


/*##########SECTION6##########*/

.section6 {
    display: flex;
    background: #2e2e2e;
}

.section6 img {
    width: 30%;
    margin-left: 0vw;
    padding-bottom: 10vh;
}

.section6 div {
    width: 433px;
    margin: 10vh 0 0 20vw;
}

.section6 h3 {
    color: #ebccc2;
}

.section6 h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 20px 0;
    color: #ebccc2;
}

.section6 p {
    color: #867772;
    width: 400px;
    line-height: 30px;
}


/*##########SHOP##########*/

.shop {
    text-align: center;
    background: #2e2e2e;
    width: 45vw;
    height: 85vh;
    margin-left: auto;
}

.shop h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #ebccc2;
}

.shop p:nth-of-type(1) {
    color: #867772;
    margin: 20px 0;
}

.shop p:nth-of-type(2) {
    color: #867772;
    margin-bottom: 10px;
}

.shop button {
    background: #ebccc2;
    padding: 10px 25px;
    border-radius: 5px;
}


/*##########@Media##########*/

@media(max-width:375px) {
    body {
        width: 100vw;
        font-family: 'Work Sans', sans-serif;
    }
    /*##########Header##########*/
    header {
        background: #2e2e2e;
        padding: 0 0 5vh 0;
    }
    header nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    header nav img {
        margin: 0px 0 0 5vw;
        z-index: 1;
        position: fixed;
        top: 20px;
    }
    header nav ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: white;
        margin: 0;
        padding: 5vh 0 0 0;
        transition: 1s;
        height: 0;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        z-index: 2;
    }
    header nav ul li {
        margin: 5vh auto;
        text-shadow: 0 0 10px black;
    }
    /*##########SECTION1##########*/
    .section1 {
        padding: 10vh 0 0 0;
        margin: 0 0 0 0;
        display: flex;
        background: #2e2e2e;
    }
    .section1 h2 {
        position: absolute;
        z-index: 1;
        left: 30vw;
        top: 15vh;
        font-size: 1.2rem;
        color: #867772;
        font-weight: 300;
    }
    .section1 img {
        width: 80%;
        margin: 0 auto;
        position: relative;
        padding: 20vh 0 0 0;
    }
    .beyond {
        padding: 5vh 0 10vh 30vw;
        color: #867772;
        font-size: 1.5rem;
    }
    aside {
        display: flex;
        flex-direction: column;
        margin: 15vh 0 10vh 0vw;
        padding-left: 0vw;
        position: absolute;
        position: fixed;
        z-index: 1;
    }
    aside a {
        padding: 0vh 0 40px 10px;
        color: white;
        text-decoration: none;
        font-size: 10px;
    }
    .divLine {
        height: 40px;
        width: 1px;
        background: #867772;
        position: absolute;
    }
    .section1 span {
        display: inline;
        width: 15px;
        height: 15px;
        background: #2e2e2e;
        border-radius: 15px;
        border: 1px solid #867772;
        outline-offset: 3px;
        position: absolute;
    }
    .divLine:nth-of-type(1) {
        left: 5px;
        top: 10px;
    }
    .divLine:nth-of-type(2) {
        left: 5px;
        top: 63px;
    }
    .divLine:nth-of-type(3) {
        left: 5px;
        top: 113px;
    }
    .divLine:nth-of-type(4) {
        left: 5px;
        top: 165px;
    }
    .section1 span:nth-of-type(1) {
        top: 20px;
        left: 17px;
    }
    .section1 span:nth-of-type(2) {
        top: 75px;
        left: 17px;
    }
    .section1 span:nth-of-type(3) {
        top: 125px;
        left: 17px;
    }
    .section1 span:nth-of-type(4) {
        top: 175px;
        left: 17px;
    }
    .section1 span:nth-of-type(5) {
        top: 225px;
        left: 17px;
    }
    .span1 {
        outline: 1px solid white;
        outline-offset: 3px;
    }
    .span2 {
        outline: 1px solid white;
        outline-offset: 3px;
    }
    .span3 {
        outline: 1px solid white;
        outline-offset: 3px;
    }
    .span4 {
        outline: 1px solid white;
        outline-offset: 3px;
    }
    .span5 {
        outline: 1px solid white;
        outline-offset: 3px;
    }
    /*##########SECTION2##########*/
    .section2 {
        background: #2e2e2e;
        display: flex;
        flex-direction: column;
        padding: 0 0 20vh 0;
    }
    .section2 img {
        width: 70%;
        margin: 5vh auto 0 auto;
    }
    .section2 div {
        margin: 15vh 0 0 8vw;
    }
    .section2 h2 {
        color: #ebccc2;
        margin: 0 0 30px 0;
        font-size: 1.2rem;
        font-weight: 300;
        text-align: center;
    }
    .section2 p {
        width: 310px;
        color: #867772;
        line-height: 25px;
        text-align: center;
    }
    /*##########LoungerSite##########*/
    .voyager {
        width: 100vw;
        object-fit: fill;
        height: 50vh;
        position: absolute;
        top: 0;
    }
    .loungersection2 {
        background: #2e2e2e;
        width: 100vw;
        height: 110vh;
        text-align: center;
    }
    .loungersection2 h2 {
        padding: 40vh 0 0px 0px;
        color: #ebccc2;
        font-weight: 400;
        font-size: 1rem;
    }
    .loungersection2 p {
        width: 300px;
        padding: 5vh 0 0vh 0px;
        color: #867772;
        line-height: 30px;
        font-size: 0.8rem;
        margin: 0 auto;
    }
    .loungerSpan2 {
        top: 0px;
        left: 0;
        outline: 1px solid white;
        outline-offset: 3px;
    }
    /*##########Inspiration##########*/
    .inspiration {
        padding: 10vh 0 0 0;
        background: #2e2e2e;
    }
    .inspiration div:first-child {
        text-align: center;
    }
    .inspiration div:last-child {
        margin: 15vh 0 0 0vw;
        text-align: center;
    }
    .inspiration div:last-child>div {
        display: flex;
        margin-left: 80px;
        padding-bottom: 20px;
    }
    .inspiration div:last-child>div p {
        color: #867772;
        margin: 0 10px 10px 0;
        padding: 2px 7px;
        border: 1px solid white;
        font-size: 14px;
        font-weight: 200;
    }
    video {
        width: 60%;
    }
    .inspiration h3 {
        color: #ebccc2;
        font-weight: 400;
        font-size: 0.7rem;
        text-align: center;
        margin-right: 0px;
    }
    .inspiration h2 {
        color: #ebccc2;
        font-size: 2rem;
        font-weight: 400;
        margin: 20px 0 30px 0;
    }
    .inspiration p {
        color: #867772;
        padding-bottom: 10vh;
    }
    /*##########SECTION5##########*/
    .section5 {
        display: flex;
        flex-direction: column;
        background: #2e2e2e;
    }
    .section5 img {
        width: 70%;
        margin: 0 auto;
    }
    .section5 div {
        width: 300px;
        margin: 50px auto;
        text-align: center;
    }
    .section5 h3 {
        color: #ebccc2;
    }
    .section5 h2 {
        font-size: 2rem;
        font-weight: 400;
        margin: 20px 0;
        color: #ebccc2;
    }
    .section5 p {
        color: #867772;
        width: 300px;
        line-height: 30px;
    }
    /*##########SECTION6##########*/
    .section6 {
        display: flex;
        flex-direction: column-reverse;
        background: #2e2e2e;
    }
    .section6 img {
        width: 70%;
        margin-left: 0vw;
        padding: 5vh 0 10vh 0;
        margin: 0 auto;
    }
    .section6 div {
        width: 300px;
        text-align: center;
        padding-bottom: 5vh;
        margin: 0 auto;
    }
    .section6 h3 {
        color: #ebccc2;
    }
    .section6 h2 {
        font-size: 2rem;
        font-weight: 400;
        margin: 20px 0;
        color: #ebccc2;
    }
    .section6 p {
        color: #867772;
        width: 300px;
        line-height: 30px;
    }
    /*##########SHOP##########*/
    .shop {
        text-align: center;
        background: #2e2e2e;
        width: 100vw;
        height: 100vh;
        margin-left: auto;
        padding-bottom: 5vh;
    }
    .shop img {
        padding-top: 35vh;
        margin: 0 auto;
        width: 100vw;
    }
    .shop h2 {
        font-size: 2rem;
        font-weight: 400;
        color: #ebccc2;
    }
    .shop p:nth-of-type(1) {
        color: #867772;
        margin: 20px 0;
    }
    .shop p:nth-of-type(2) {
        color: #867772;
        margin-bottom: 10px;
    }
    .shop button {
        background: #ebccc2;
        padding: 10px 25px;
        border-radius: 5px;
    }
    /*##########Header##########*/
    .mobileMenu span {
        width: 40px;
        height: 2px;
        background: #867772;
        display: flex;
        flex-direction: column;
        margin: 5px 0 0 auto;
        padding: 2px 0;
        border-radius: 3px;
    }
    .mobileMenu {
        margin-left: auto;
        padding: 20px 20px 0 0;
    }
    header nav ul li:last-child {
        display: block;
    }
}